[2022-08-25 12:46] EmmaDawsonDev opened #3 "Move focus back to theme button when popup closes"
**Describe the bug**
The focus does not return to the theme button when a choice is made with the keyboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Tab to theme
2. Press enter to open the pop up
3. Tab through options and choose one with enter or space
4. The focus does not return to the theme button

**Expected behavior**
Focus returns to the theme button when the popup closes. This

[2022-08-25 12:51] EmmaDawsonDev opened #4 "Indicate to Screen readers which theme is active when in the theme popup"
Because only one theme can be active at once then an aria-pressed attribute should fix this problem attached to each button in the themeSwitcher component (In Header.tsx). However, it needs to detect which theme is active when the page firsts loads and if system settings are changed while the page is open, not just when the buttons are pressed.

[2022-08-25 14:07] EmmaDawsonDev opened #5 "Update button text on ThemeSwitcher component"
OS settings should be updated to Device settings. The container probably needs to be made wider to fit this.
Light should be updated to Light mode
Dark should be updated to Dark mode

[2022-09-12 08:57] #5 closed

[2022-09-12 08:58] EmmaDawsonDev commented on #4
Pull request #6 closes this issue

[2022-09-12 08:58] #4 closed

[2022-09-12 08:58] EmmaDawsonDev commented on #3
Pull request #6 closes this issue.

[2022-09-12 08:58] #3 closed

[2022-09-14 15:02] EmmaDawsonDev opened #11 "Theme Switcher should close when tabbed out of"
**Describe the bug**
If someone is tabbing through the theme switcher, when it reaches the last item (dark) and someone continues to tab they end up on the navigation (home). When this happens the popup should automatically close.

[2022-09-14 15:04] EmmaDawsonDev opened #12 "Theme Switcher should close when someone clicks outside of the component"
**Describe the bug**
When the theme switcher dropdown is open and someone clicks outside of the component with a mouse, the dropdown should close and focus should return to the button.

[2022-09-20 15:26] ctoffanin commented on #11
Hi, can I be assigned to this?

[2022-09-20 17:38] EmmaDawsonDev commented on #11
Sure! Are you going to be taking part in hacktoberfest? If so feel free to wait until it starts before making the pr and I will add the hacktoberfest label to the repo.

[2022-09-21 09:45] ctoffanin commented on #11
Mmm, I'm pretty new to everything. I'll join the hacktoberfest next year. Unless it's important to you as a maintainer, of course.

[2022-09-21 10:49] EmmaDawsonDev commented on #11
No problem! Just wanted to check. If you need any help with anything just let me know 👍🏻

[2022-09-24 09:58] EmmaDawsonDev opened #15 "Gitpodify the repo"
Add a .gitpod.yml file to the root of the repository.

The contents of the file should be similar to the one here https://github.com/EddieHubCommunity/LinkFree/blob/main/.gitpod.yml but npm should be switched for yarn

[2022-09-24 10:12] EmmaDawsonDev opened #16 "Add Skiplink"
Add a skiplink button component.

[] It should be a html a element
[] It should be imported into the layout component and placed before the header.
[] It should be hidden offscreen a few pixels above where it will normally be positioned but appear in the center of the header when tabbed to. Maybe a small transition could be added so it slides into place?
[] It should be styled to have black text,

[2022-09-24 10:15] EmmaDawsonDev opened #17 "Add favicon"
The project is currently using the default next favicon. Either it can be switched out for the AccessibleForAll icon on github or if you wish to design one that is in line with the project feel free to have a go at that.

[2022-09-24 10:17] EmmaDawsonDev opened #18 "404 page"
Add a 404.tsx file to the pages folder. Wrap the contents with the layout (see other pages for an example). Then write a 404 message eg. Oops, that page doesn't exist! and add a link back to the homepage.

[2022-09-24 10:19] EmmaDawsonDev opened #19 "Add a footer"
Create a footer component that can be imported into the layout component.

The Footer should have the same background and text colors as the header.

Add a link to the the github repository https://github.com/AccessibleForAll/AccessibleWebDev

[2022-09-24 10:24] EmmaDawsonDev commented on #11
Closed by #14

[2022-09-24 10:24] #11 closed

[2022-09-24 10:51] yashfalke77 commented on #18
@EmmaDawsonDev  can I work on this issue

[2022-09-24 11:13] EmmaDawsonDev commented on #18
Sure! If you're joining hacktoberfest then feel free to wait until October before making a pull request.

[2022-09-24 11:15] EmmaDawsonDev opened #20 "Add gitpod badge to readme"
Please add the following code snippet to the bottom of the readme file

```[![Open in Gitpod](https://gitpod.io/button/open-in-gitpod.svg)](https://gitpod.io/#https://github.com/AccessibleForAll/AccessibleWebDev)```

[2022-09-24 11:25] EmmaDawsonDev opened #21 "Add PaginationTemplate component"
In the components/templates folder add a PaginationTemplate.tsx file. Copy the structure of one of the other templates (they're all currently the same apart from name - contents will be added later). Update the component name so it matches the file name.

In the pages/[content].tsx file import the template and add it alphabetically in the correct place between the layout tags

Add the template dat

[2022-09-24 11:31] EmmaDawsonDev opened #22 "Add NavigationTemplate component"
In the components/templates folder add a NavigationTemplate.tsx file. Copy the structure of one of the other templates (they're all currently the same apart from name - contents will be added later). Update the component name so it matches the file name.

In the pages/[content].tsx file import the template and add it alphabetically in the correct place between the layout tags ```{page === "navigat

[2022-09-24 11:32] EmmaDawsonDev opened #23 "Add MenusTemplate component"
In the components/templates folder add a MenusTemplate.tsx file. Copy the structure of one of the other templates (they're all currently the same apart from name - contents will be added later). Update the component name so it matches the file name.

In the pages/[content].tsx file import the template and add it alphabetically in the correct place between the layout tags ```{page === "menus" && <M

[2022-09-24 11:34] EmmaDawsonDev opened #24 "Add BreadcrumbsTemplate component"
In the components/templates folder add a BreadcrumbsTemplate.tsx file. Copy the structure of one of the other templates (they're all currently the same apart from name - contents will be added later). Update the component name so it matches the file name.

In the pages/[content].tsx file import the template and add it alphabetically in the correct place between the layout tags ```{page === "breadc

[2022-09-24 11:35] EmmaDawsonDev opened #25 "Add ButtonsTemplate component"
In the components/templates folder add a ButtonsTemplate.tsx file. Copy the structure of one of the other templates (they're all currently the same apart from name - contents will be added later). Update the component name so it matches the file name.

In the pages/[content].tsx file import the template and add it alphabetically in the correct place between the layout tags ```{page === "buttons" &

[2022-09-24 11:36] EmmaDawsonDev opened #26 "Add AlertsTemplate component"
In the components/templates folder add a AlertsTemplate.tsx file. Copy the structure of one of the other templates (they're all currently the same apart from name - contents will be added later). Update the component name so it matches the file name.

In the pages/[content].tsx file import the template and add it alphabetically in the correct place between the layout tags ```{page === "alerts" &&

[2022-09-24 11:36] ctoffanin commented on #12
Hi Emma, can I be assigned to this?
I decided to join hacktoberfest. I'll wait till it starts.

[2022-09-24 11:38] EmmaDawsonDev commented on #12
Sure!

[2022-09-24 11:40] EmmaDawsonDev opened #27 "Add ModalsTemplate component"
In the components/templates folder add a ModalsTemplate.tsx file. Copy the structure of one of the other templates (they're all currently the same apart from name - contents will be added later). Update the component name so it matches the file name.

In the pages/[content].tsx file import the template and add it alphabetically in the correct place between the layout tags ```{page === "modals" &&

[2022-09-24 11:41] EmmaDawsonDev opened #28 "Add LinksTemplate component"
In the components/templates folder add a LinksTemplate.tsx file. Copy the structure of one of the other templates (they're all currently the same apart from name - contents will be added later). Update the component name so it matches the file name.

In the pages/[content].tsx file import the template and add it alphabetically in the correct place between the layout tags ```{page === "links" && <L

[2022-09-24 11:45] EmmaDawsonDev opened #29 "Update meta description"
In pages/index.tsx the current meta description on line 12 is ```<meta name="description" content="Generated by create next app" />```

This should be updated to ```<meta name="description" content="Learn the basics about web accessibility in a clear and easy to understand way" />```

[2022-09-24 12:16] krupalitrivedi commented on #22
Hello Emma!

I would love to work on this one! :)

Thank you!

[2022-09-24 12:23] EmmaDawsonDev commented on #22
Sure!

[2022-09-24 12:28] ctoffanin commented on #16
Hi Emma, I really suck at CSS, this could be a good one to do little practice.
Can I be assigned to this as well?

[2022-09-24 12:35] EmmaDawsonDev commented on #16
Sure, feel free to give it a go and let me know if you need any help.

[2022-09-24 14:26] yashfalke77 commented on #18
Yes, I am joining hacktoberfest, but I had  one doubt @EmmaDawsonDev , will it be okay if I forked now and completed the above task and then after registering for  hacktoberfest and then I will request for pull request. Will it be okay? actually i am new to theopen source contribution so i don't have much idea

[2022-09-24 14:39] Nikhil-1503 commented on #25
Hi Emma!
Can I work on this one?
Thank you

[2022-09-24 14:39] yashfalke77 commented on #19
@EmmaDawsonDev can I work on this issue to?

[2022-09-24 14:51] EmmaDawsonDev commented on #18
Hi @yashfalke77 yes, that's perfectly fine. I do the same thing :) You can fork it now and work on it this week. Just wait until October 1st before making the PR.

[2022-09-24 14:52] EmmaDawsonDev commented on #25
Sure! Just wait until October 1st to make the PR if you are taking part in Hacktoberfest :)

[2022-09-24 14:52] EmmaDawsonDev commented on #19
Sure!

[2022-09-24 15:54] Nikhil-1503 commented on #15
Hey Emma,
Can I work on this as well?

[2022-09-24 16:26] EmmaDawsonDev commented on #15
Sure, go ahead :)

[2022-09-24 16:38] cyrilckurian commented on #29
hello ,i would like to work on this issue can you assign this to me @EmmaDawsonDev

[2022-09-24 16:41] EmmaDawsonDev commented on #29
Sure, go ahead :) If you're taking part in hacktoberfest then just wait until October 1st before making the pull request.

[2022-09-24 16:58] cyrilckurian commented on #29
Yes, I'm taking part in hackoberfest

[2022-09-24 19:20] Ashish-khanagwal commented on #20
Hey Emma, I would love to work on this issue. Assign it to me

[2022-09-24 19:33] Ashish-khanagwal commented on #23
Hello Emma,

Would love to work on this issue

Thank you

[2022-09-24 19:37] EmmaDawsonDev commented on #20
Sure!

[2022-09-24 19:38] TAKANOME-DEV commented on #27
Hi @EmmaDawsonDev I would like to take this one :pray:

[2022-09-24 19:38] EmmaDawsonDev commented on #23
Of course 👍🏻

[2022-09-24 19:39] EmmaDawsonDev commented on #27
Sure!

[2022-09-25 03:37] stevenovak123 commented on #26
Hey Emma.

I'd Like to take this up.

[2022-09-25 03:50] Ashish-khanagwal commented on #20
Thank you

[2022-09-25 03:51] Ashish-khanagwal commented on #23
Thank you

[2022-09-25 07:54] EmmaDawsonDev commented on #26
Sure, go ahead.

[2022-09-25 09:28] Aniket1026 commented on #28
Hey @EmmaDawsonDev would love to work on this 😄

[2022-09-25 09:38] EmmaDawsonDev commented on #28
Hi @Aniket1026 there is already a pull request for this one but let me create an issue for another component template you can add

[2022-09-25 10:14] #28 closed

[2022-09-25 10:16] EmmaDawsonDev opened #31 "Add ListsTemplate component"
In the components/templates folder add a ListsTemplate.tsx file. Copy the structure of one of the other templates (they're all currently the same apart from name - contents will be added later). Update the component name so it matches the file name.

In the pages/[content].tsx file import the template and add it alphabetically in the correct place between the layout tags ```{page === "lists" && <L

[2022-09-25 10:19] EmmaDawsonDev opened #32 "Add FormsTemplate component"
In the components/templates folder add a FormsTemplate.tsx file. Copy the structure of one of the other templates (they're all currently the same apart from name - contents will be added later). Update the component name so it matches the file name.

In the pages/[content].tsx file import the template and add it alphabetically in the correct place between the layout tags ```{page === "forms" && <F

[2022-09-25 10:20] Aniket1026 commented on #31
Hello @EmmaDawsonDev would love to work on this. Can you assign me?😄

[2022-09-25 10:20] EmmaDawsonDev opened #33 "Add TablesTemplate component"
In the components/templates folder add a TablesTemplate.tsx file. Copy the structure of one of the other templates (they're all currently the same apart from name - contents will be added later). Update the component name so it matches the file name.

In the pages/[content].tsx file import the template and add it alphabetically in the correct place between the layout tags ```{page === "tables" &&

[2022-09-25 10:25] Aniket1026 commented on #28
Thank you emma 😄

[2022-09-25 10:28] EmmaDawsonDev opened #34 "Add WorkInProgress component"
In the components folder add a new folder called WorkInProgress and inside that add two files: WorkInProgress.tsx and WorkInProgress.module.css.

Inside the WorkInProgress.tsx file create a react component with the same name that is a section.

The section should include:

- a h2 with text - This section is a work in progress
- a p tag with text - Please come back at a later date.
- a link to the

[2022-09-25 12:18] EmmaDawsonDev opened #36 "Add HeadingsTemplate component"
In the components/templates folder add a HeadingsTemplate.tsx file. Copy the structure of one of the other templates (they're all currently the same apart from name - contents will be added later). Update the component name so it matches the file name.

In the pages/[content].tsx file import the template and add it alphabetically in the correct place between the layout tags ```{page === "headings"

[2022-09-25 13:32] aswin2108 commented on #24
I would love to work on it! Could you assign this to me!?

[2022-09-25 13:47] EmmaDawsonDev commented on #24
Sure!

[2022-09-26 02:37] Nakamcode commented on #17
I want to work on this.

[2022-09-26 02:50] Nakamcode opened #37 "[Feature] Open Graph"
**Is your feature request related to a problem? Please describe.**
A link without open graph tags reduces the click rate.

**Describe the solution you'd like**
Add Open Graph meta tags, Open Graphs meta tags help users optimize their social media link previews, so users always see the essential information.

**Additional context**

![c5ae0478c1d04eb7fdb2f4df71895e89](https://user-images.githubuser

[2022-09-26 04:51] EmmaDawsonDev commented on #17
Sure, go ahead!

[2022-09-26 04:53] EmmaDawsonDev commented on #37
What does this do exactly? Can you explain a little bit more about it and what the benefits might be. I’m not keen on overloading the project with lots of packages unless I know they’ll be useful

[2022-09-26 06:53] Giriraj-Roy commented on #32
Hello ma'am,
I have gone through the repository and the given instructions. The issue seems to attract my interest and excites me to work on it. I humbly wait for you to assign the task to me if your analysis of my profile allows.

Yours Sincerely,
Giriraj Roy.

[2022-09-26 06:54] Giriraj-Roy commented on #33
Hello ma'am,
I have gone through the repository and the given instructions. The issue seems to attract my interest and excites me to work on it. I humbly wait for you to assign the task to me if your analysis of my profile allows.

Yours Sincerely,
Giriraj Roy.

[2022-09-26 06:55] Giriraj-Roy commented on #36
Hello ma'am,
I have gone through the repository and the given instructions. The issue seems to attract my interest and excites me to work on it. I humbly wait for you to assign the task to me if your analysis of my profile allows.

Yours Sincerely,
Giriraj Roy.

[2022-09-26 06:56] Giriraj-Roy commented on #34
Hello ma'am,
I have gone through the repository and the given instructions. The issue seems to attract my interest and excites me to work on it. I humbly wait for you to assign the task to me if your analysis of my profile allows.

Yours Sincerely,
Giriraj Roy.

[2022-09-26 07:09] Giriraj-Roy commented on #21
Hello ma'am,
I have gone through the repository and the given instructions. The issue seems to attract my interest and excites me to work on it. I humbly wait for you to assign the task to me if your analysis of my profile allows.

Yours Sincerely,
Giriraj Roy.

[2022-09-26 07:42] adityabhattad2021 commented on #32
Hey, can I work on this one?

[2022-09-26 07:45] adityabhattad2021 commented on #36
Hey @EmmaDawsonDev would love to do this task. Can you assign me please?😄

[2022-09-26 10:45] kartikver15gr8 commented on #36
@EmmaDawsonDev
Hey Emma I've committed changes to this issue as u mentioned, please check them and let me know if you can merge them into the main branch.

😊😊

[2022-09-26 12:27] EmmaDawsonDev commented on #34
Hi @Giriraj-Roy please feel free to work on this.

[2022-09-26 12:28] EmmaDawsonDev commented on #34
Unfortunately someone else asked first but please feel free to comment on another unassigned task.

[2022-09-26 12:30] EmmaDawsonDev commented on #32
Assigning this to @adityabhattad2021 as I already assigned another issue to @Giriraj-Roy

[2022-09-26 12:34] adityabhattad2021 commented on #33
Hey @EmmaDawsonDev , can I work on this one?

[2022-09-26 12:36] adityabhattad2021 commented on #32
Hey are you planning to add more issues?

[2022-09-26 12:43] EmmaDawsonDev commented on #32
Probably. I’m trying to spread it out and share them among different people since they are newcomer-friendly and I want to help so many as possible get pull requests for hacktoberfest.

[2022-09-26 12:53] Nakamcode commented on #37
Open graph is an image that shows up when you share a link on social media, open graph comes with short description and a picture. This give more information about the link or url. Also open graph increases the click rate of a link.

Here's a quick blog on it

[Open Graph Meta Tags: Everything You Need to Know](https://ahrefs.com/blog/open-graph-meta-tags/#:~:text=Open%20Graph%20meta%20tags%20are%

[2022-09-26 13:52] saimaheshtaduri commented on #33
I am interested to work on this. can you assign to me? @EmmaDawsonDev

[2022-09-26 13:59] EmmaDawsonDev commented on #33
Assigning to @saimaheshtaduri in order to share issues. If you’re taking part in hacktoberfest please feel free to wait until October 1st before making your pull request

[2022-09-26 14:02] ahmedsilat44 commented on #36
Hello @EmmaDawsonDev . I  am a first time contributor and would like to do this task. Could you assign it to me ?

[2022-09-26 15:34] EmmaDawsonDev commented on #36
@kartikver15gr8 is assigned to this one (they asked elsewhere) but feel free to comment on another issue

[2022-09-26 16:05] ahmedsilat44 commented on #21
Hey @EmmaDawsonDev I am new to open source and I would like to do this task. Could you please assign me to this task.
Thanks 😄

[2022-09-26 18:05] EmmaDawsonDev commented on #21
Sure! If you're taking part in hacktoberfest just wait until October 1st to make the PR.

[2022-09-26 18:09] ahmedsilat44 commented on #21
Ok. Thanks for the heads up. Its my first time taking part in hacktoberfest.

[2022-09-26 21:26] Giriraj-Roy commented on #34
Ma'am @EmmaDawsonDev thank you and I am excited to have got this issue assigned. Will start PRs once the hacktoberfest starts.

Thanking you,
Giriraj Roy

[2022-09-27 13:49] tashasyarifah opened #41 "Add Links Template Components"
Hi Emma, I notice you haven't added the links template component. I would like to work on that.

[2022-09-27 14:36] EmmaDawsonDev commented on #41
Hi @tashasyarifah a links component already exists.

[2022-09-27 14:37] EmmaDawsonDev commented on #41
I will hopefully be adding more issues at the weekend once Ive had a chance to see what’s missing so keep an eye out or if you notice something feel free to raise a new issue.

[2022-09-27 14:37] #41 closed

[2022-09-27 16:44] ahmedsilat44 commented on #21
@EmmaDawsonDev Hey while trying to commit to my branch I ran into an error.
![image](https://user-images.githubusercontent.com/105588821/192586244-07012e04-d269-4712-90ce-3d245e161cc9.png)
Could you please tell me how to fix this

[2022-09-27 19:45] EmmaDawsonDev commented on #21
@ahmedsilat44 did you solve the issue you were having with committing? I can’t see the screenshot you posted anymore 🤔 if not, I suggest trying to commit via the terminal and let me know if it doesn’t work

[2022-09-28 03:35] tashasyarifah commented on #41
Okay, I'll wait for that! Thank you :)

[2022-09-28 06:25] ahmedsilat44 commented on #21
@EmmaDawsonDev Yes I solved the issue. I kept having the error while commiting through Github Desktop but after 2 hours of struggling to find the solution I used the terminal and it worked. Thanks for the reply 👍

[2022-09-28 06:40] adityabhattad2021 commented on #32
Hey @EmmaDawsonDev there is no templates folder in components should I add it?

[2022-09-28 06:55] EmmaDawsonDev commented on #17
I don't have access to my laptop for a couple of days but I'll send it at the weekend. Please remind me on Saturday if I forget.

[2022-09-28 07:02] EmmaDawsonDev commented on #32
Ah sorry just realised the mistake in my first post. I think the folder is called contentTemplates not just templates. No need to add a new folder

[2022-09-28 07:04] adityabhattad2021 commented on #32
Finished working on this one will make a PR on 01 October🙂. Btw is there any other issue for me to work on?

[2022-09-28 08:56] EmmaDawsonDev commented on #32
Great!

I am afk until Saturday so unfortunately I can’t check what else needs doing at the moment. But maybe I can find some more tasks at the weekend

[2022-09-28 10:42] yashfalke77 commented on #18
Hi @EmmaDawsonDev I completed the 404 page designing below are the screenshots both in light and dark mode, if there are any changes then please tell me

Dark mode:
![image](https://user-images.githubusercontent.com/82655175/192759075-0534386b-9136-4729-a26b-e69fd1847b3a.png)

Light mode:
![image](https://user-images.githubusercontent.com/82655175/192759260-71d98d9b-be8b-4b24-a4bf-db8f5189e7a3.png

[2022-09-28 14:43] EmmaDawsonDev commented on #18
Looks great! Where’s the image from? Just want to check whether the image is royalty free so we can use it without needing to give credit. Also, there’s a small spelling mistake on captcha

[2022-09-28 14:44] ctoffanin commented on #16
Hi Emma, is this what you were expecting to see?

https://user-images.githubusercontent.com/1682188/192809717-ddb184e4-1a20-49d2-894e-52c100e9b08f.mov

[2022-09-28 14:49] EmmaDawsonDev commented on #16
Yes! That’s pretty much what I envisioned 😀

[2022-09-28 15:03] yashfalke77 commented on #18
@EmmaDawsonDev Image is of royalty free from [error404](https://error404.fun/) website ,  i will correct it , rest all okay? . Is ready for pull requests?

[2022-09-28 15:15] Nakamcode commented on #17
Alright

[2022-09-28 15:21] EmmaDawsonDev commented on #18
Cool, I’ve not seen that site before 👍🏻 All looks ok I think, now just to wait until the weekend to make your PR 😀

[2022-09-30 06:19] muditchoudhary commented on #27
Hello, @EmmaDawsonDev I think @TAKANOME-DEV not working on this, so can I work on this?

[2022-09-30 12:30] EmmaDawsonDev commented on #27
Sure, no problem.

@TAKANOME-DEV if you decide later that you do want to join in just let me know and I’ll try to find another issue you can have

[2022-09-30 16:29] yashfalke77 commented on #19
hey @EmmaDawsonDev  completed the footer below is the screenshot of it if any changes needed do tag me :)

![image](https://user-images.githubusercontent.com/82655175/193315527-97d989f6-b767-4cea-91fe-3e4427718cb5.png)

[2022-09-30 16:33] Pradumnasaraf opened #42 "Add a PR template"
Link to the official [docs](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository)

[2022-09-30 19:21] kartikver15gr8 commented on #36
Hey @EmmaDawsonDev shall I reopen my PRs

[2022-09-30 20:08] kartikver15gr8 commented on #36
Okay so should I delete this branch and then start fresh one.
Right??

[2022-10-01 05:05] Ashish-khanagwal commented on #20
as @MrKrishnaAgarwal already resolved this issue. So, I don't have to create a PR now.

[2022-10-01 05:13] MrKrishnaAgarwal commented on #20
Yes, I have resolved #20 and #15 both

[2022-10-01 05:25] EmmaDawsonDev commented on #20
@Ashish-khanagwal since you are assigned to this issue I will merge your pull request over someone else’s as I don’t feel it’s good etiquette that people take assigned issues from others, especially during hacktoberfest. So please go ahead and make your PR.

[2022-10-01 05:27] MrKrishnaAgarwal commented on #20
Should I close my PR then?

[2022-10-01 05:29] EmmaDawsonDev commented on #20
Yes, please only makePRs for issues you are assigned to. If you see an issue that’s already assigned but seems abandoned after a couple of weeks feel free to ask about having it reassigned. I’m also hoping to add more issues later this weekend

[2022-10-01 05:30] MrKrishnaAgarwal commented on #20
yes sure, please add them

[2022-10-01 05:32] Ashish-khanagwal commented on #20
okay, then I'll make PR on this issue

[2022-10-01 05:32] MrKrishnaAgarwal commented on #42
I can add a PR template, May I work on this @EmmaDawsonDev ?

[2022-10-01 06:26] kartikver15gr8 commented on #36
Hey @EmmaDawsonDev I've made pull requests for this issues. Kindly check them and merge them too😎😊😁😀

[2022-10-01 08:34] #21 closed

[2022-10-01 08:38] #32 closed

[2022-10-01 08:47] #23 closed

[2022-10-01 08:55] #36 closed

[2022-10-01 08:58] #31 closed

[2022-10-01 08:59] #15 closed

[2022-10-01 09:00] EmmaDawsonDev commented on #17
![AFA logo](https://user-images.githubusercontent.com/57045550/193401831-4249b3ba-c951-4757-bf9c-877c3463b9ac.png)

[2022-10-01 09:06] EmmaDawsonDev commented on #19
I love the design of it 👍 but maybe it includes too many links for the time being.

Above the line could we just have the Community section for now? And remove the 'give us a coffee' and replace with 'Sponsor us' as I can set up github sponsorships.

Below the line I love the tagline you've written and github icon is great. We don't have a linked in currently or any other socials so that one can b

[2022-10-01 09:06] #20 closed

[2022-10-01 09:07] #25 closed

[2022-10-01 09:08] #33 closed

[2022-10-01 09:09] EmmaDawsonDev commented on #42
Sure, go ahead!

[2022-10-01 09:16] MrKrishnaAgarwal commented on #42
Thanks :+1:

[2022-10-01 09:33] ctoffanin opened #57 "Bug: a missing comma (,) in file pages.ts is throwing an error"
**Describe the bug**
A missing `,` in the file `pages.ts` throws an error

**To Reproduce**
Steps to reproduce the behavior:
1. Run `yarn dev`
2. Go to `http://localhost:3000/`
3. See the error

**Expected behavior**
It's expected to see the home page.

**Screenshots**
![Screenshot 2022-10-01 at 11 29 14](https://user-images.githubusercontent.com/1682188/193402818-a0dacf5e-bb2d-410a-a07f-46aff1f64

[2022-10-01 09:38] EmmaDawsonDev commented on #57
You are correct, I obviously was too quick in merging all the PRs. Problem is on line 13 of data/pages. Did you want to fix it and get another PR?

[2022-10-01 09:40] ctoffanin commented on #57
I have the same problem sometimes :)
Yes, you can assign it to me. I'm going to fix it straight away.

[2022-10-01 09:56] #57 closed

[2022-10-01 14:17] yashdev9274 commented on #19
Is @yashfalke77  still working on it?

[2022-10-01 14:22] yashfalke77 commented on #19
@yashdev9274 yes

[2022-10-01 14:47] EmmaDawsonDev opened #62 "Add sentence about gitpod to readme."
Between the gitpod heading and the gitpod button add the following sentence to explain what Gitpod is:

Gitpod allows you to view and interact with this code directly in the browser without the need to clone it to your local machine. If you wish to make changes that lead to a pull request, remember to fork the repository then click the Gitpod button in the forked readme. Otherwise, feel free to pl

[2022-10-01 14:48] EmmaDawsonDev commented on #62
@yashdev9274

[2022-10-01 14:49] yashfalke77 commented on #19
Hey @EmmaDawsonDev from design perspective we should have at least two section one I will keep community and second will be tools will it be okay?

[2022-10-01 14:53] Viki-07 commented on #62
Hey @EmmaDawsonDev, It seems interesting and I would like to work on this and It will be very helpful for me as I am participating in Hacktoberfest. Kindly assign me for the above

[2022-10-01 14:56] EmmaDawsonDev commented on #19
@yashfalke77 then maybe it is best to keep the community and company sections instead. I’m not keep on dividing up the pages like that and many other pages are being added currently so it might be weird to only have links to some of them. Let’s start with community and company.

[2022-10-01 14:57] yashfalke77 commented on #19
@EmmaDawsonDev ok sure :)

[2022-10-01 14:58] EmmaDawsonDev commented on #62
Hi @Viki-07 this one is already assigned to yash but I have the same issue on another repo if you want to comment there I will assign you https://github.com/AccessibleForAll/ColorPaletteCombos/issues/29

[2022-10-01 16:17] yashfalke77 commented on #19
Hey @EmmaDawsonDev  made the changes according to you , if any further changes needed do tag me
![image](https://user-images.githubusercontent.com/82655175/193418538-3fef43a0-d705-4b9a-9f72-b9e43ac2b1ab.png)

[2022-10-01 17:08] MrKrishnaAgarwal commented on #62
@EmmaDawsonDev Please review my PR #60

[2022-10-01 19:38] #16 closed

[2022-10-01 19:39] #22 closed

[2022-10-01 19:40] EmmaDawsonDev commented on #19
Looks great! If you go ahead and make a pull request then I can review the code and see if anything else needs changing.

[2022-10-01 22:41] Nakamcode commented on #17
Thank you

[2022-10-02 05:19] yashdev9274 commented on #62
Hey @EmmaDawsonDev, can I work on it?

[2022-10-02 05:21] yashdev9274 commented on #62
Thank you @EmmaDawsonDev  , I'll work on this one.

[2022-10-02 05:34] yashfalke77 commented on #18
hey @EmmaDawsonDev I made the pull request do check it out and if everything is okay you can merge it :)

[2022-10-02 08:42] #42 closed

[2022-10-02 08:48] EmmaDawsonDev opened #71 "Update .gitpod.yml file"
**Describe the bug**
On line 5 in the ```.gitpod.yml``` file it says ```yarn run start``` when it should say ```yarn dev```

[2022-10-02 08:52] slayeh17 commented on #71
I would like to work on this😊

[2022-10-02 08:53] EmmaDawsonDev commented on #71
Sure, go ahead :)

[2022-10-02 09:19] #29 closed

[2022-10-02 09:22] #71 closed

[2022-10-02 09:22] #17 closed

[2022-10-02 09:23] ShorunTech commented on #71
Weldone @EmmaDawsonDev for helping others.

[2022-10-02 09:25] ctoffanin commented on #12
Hi, @EmmaDawsonDev! I'm getting some issues with this one (my skills in React are not so awesome).
I was trying to handle the click from within the Theme Switcher component. The problem is that it "conflicts" with the button onClick (I have difficulties differentiating between the 2).
I was thinking of adding a hook or a new component acting as a listener and wrapping the `ul` tag with it to handl

[2022-10-02 09:43] EmmaDawsonDev commented on #12
No worries, I was also having similar issues which is why I created an issue to do it later :D I think this is probably what we need: https://usehooks-ts.com/react-hook/use-on-click-outside this is what we use at work to achieve the same thing.

[2022-10-02 09:45] EmmaDawsonDev commented on #12
You can make a new folder called customHooks and pop it in there.

[2022-10-02 09:50] ctoffanin commented on #12
Perfect, so my idea of a hook was on the right path.

[2022-10-02 09:57] EmmaDawsonDev commented on #37
I don't think this is needed right now but thank you for the suggestion.

[2022-10-02 09:57] #37 closed

[2022-10-02 12:30] #26 closed

[2022-10-02 12:52] ctoffanin commented on #12
This is nice! I have so many stashes saved 😂
Also, instant bookmark of [usehooks-ts.com](https://usehooks-ts.com/)!

[2022-10-02 13:47] yashdev9274 commented on #62
![image](https://user-images.githubusercontent.com/72986960/193457316-e7d20d47-69de-44f7-a955-a5a173ac3e6e.png)

Hey @EmmaDawsonDev I made this changes, please take a look and let me know about your thoughts.

[2022-10-02 13:52] EmmaDawsonDev commented on #62
Can you make a pull request to this repository instead of to the fork?

[2022-10-02 13:59] yashdev9274 commented on #62
yes did change it.

[2022-10-02 14:31] MrKrishnaAgarwal opened #75 "Update and Add More Issue Templates"
Should I work on this?

[2022-10-02 14:31] MrKrishnaAgarwal commented on #75
cc @EmmaDawsonDev

[2022-10-02 14:46] EmmaDawsonDev commented on #75
What kind of templates do you have in mind?

[2022-10-02 15:04] MrKrishnaAgarwal commented on #75
I'll convert simple issue templates to issue formes, so that they look good and interactive.

I can make these templates

other.yml
support.yml

[2022-10-02 15:42] EmmaDawsonDev commented on #75
Other.yml makes sense, I don’t think support is also needed as I have a separate support repository. Feel free to update the other issue templates to yml too

[2022-10-02 15:55] yashdev9274 commented on #62
![image](https://user-images.githubusercontent.com/72986960/193463425-2fd335e9-017c-4523-ad81-1822d526089c.png)

Here I did the changes

[2022-10-02 16:51] MrKrishnaAgarwal commented on #75
Sure, Thanks

[2022-10-02 19:01] #12 closed

[2022-10-02 19:25] #18 closed

[2022-10-03 09:15] Susmita-Dey opened #77 "Add a GitHub logo in the Navbar"
**Is your feature request related to a problem? Please describe.**
No, it's not related to a problem.

**Describe the solution you'd like**
Add a GitHub logo in the navbar next to the theme changer which will redirect to this repo.

**Describe alternatives you've considered**
No alternatives.

**Additional context**
This is under hacktoberfest contribution. Kindly assign it to me.

[2022-10-03 10:16] gaurav-iitb commented on #24
I would also like to work on it

[2022-10-03 10:50] aswin2108 commented on #24
@gaurav-iitb sure carry-on!

[2022-10-03 10:52] Susmita-Dey commented on #77
Okay, closing this one.

[2022-10-03 10:52] #77 closed

[2022-10-03 11:54] Susmita-Dey opened #78 "Change font family of paragraph text."
**Is your feature request related to a problem? Please describe.**
This is a new feature.

**Describe the solution you'd like**
I would like to change the font family of paragrah text to either [Inconsolata](https://fonts.google.com/specimen/Inconsolata) or to [Roboto](https://fonts.google.com/specimen/Roboto) in order to differentiate it from the header and sidebar.

**Describe alternatives you'v

[2022-10-03 12:47] MrKrishnaAgarwal commented on #75
@EmmaDawsonDev Please review my PR

[2022-10-03 16:30] #27 closed

[2022-10-04 02:12] MrKrishnaAgarwal commented on #75
https://github.com/AccessibleForAll/AccessibleWebDev/pull/76

@EmmaDawsonDev

[2022-10-04 14:55] EmmaDawsonDev commented on #78
I'm quite happy with the current font choice at the moment but thanks for raising the discussion. I'll be adding a few more issues for hacktoberfest in a few days so feel free to keep an eye out for those but just now I'm sick so I'm taking some rest.

[2022-10-04 14:55] #78 closed

[2022-10-05 09:32] #34 closed

[2022-10-05 09:32] #24 closed

[2022-10-05 13:17] EmmaDawsonDev opened #85 "Add i18n config"
In the next.config.js file add the following code snippet after line 4

[code]

[2022-10-05 14:00] mkubdev commented on #85
Hey @EmmaDawsonDev :wave:

Can i work on this?

[2022-10-05 14:02] EmmaDawsonDev commented on #85
Sure, go ahead :)

[2022-10-05 14:33] #85 closed

[2022-10-05 18:39] #19 closed

[2022-10-06 16:20] EmmaDawsonDev commented on #62
@yashdev9274 How's it going on this one?

[2022-10-06 16:21] EmmaDawsonDev commented on #75
What happened? The templates were almost done 🤔

[2022-10-06 16:46] EmmaDawsonDev opened #89 "Create i18n config file"
In the root of the project create a file named ```next-i18next.config.js```

Inside the file add the following code snippet:
[code]

[2022-10-06 17:27] yashdev9274 commented on #62
I'll update it tonight.

[2022-10-06 17:59] EmmaDawsonDev commented on #62
No rush, just wanted to know how it’s going

[2022-10-06 19:10] #89 closed

[2022-10-06 19:11] #62 closed

[2022-10-06 19:19] EmmaDawsonDev opened #92 "Update next config file"
The next config file currently looks like this:

[code]

It should be updated to import i18n like this instead:
[code]

[2022-10-06 19:28] EmmaDawsonDev opened #93 "Import WIP component to Animation template"
Please import the WorkInProgress component into the AnimationTemplate found inside components/ContentTemplates folder.

Then render the WorkInProgress component instead of the current div and placeholder sentence.

See the AlertsTemplate component if unsure how to do this and follow the same pattern.

[2022-10-06 19:29] EmmaDawsonDev opened #94 "Import WIP component into AudioTemplate"
Please import the WorkInProgress component into the AudioTemplate found inside components/ContentTemplates folder.

Then render the WorkInProgress component instead of the current div and placeholder sentence.

See the AlertsTemplate component if unsure how to do this and follow the same pattern.

[2022-10-06 19:29] alberturria commented on #93
Hi @EmmaDawsonDev may I work on this issue? 🙂

[2022-10-06 19:30] EmmaDawsonDev opened #95 "Import WIP to captchas template"
Please import the WorkInProgress component into the CaptchasTemplate found inside components/ContentTemplates folder.

Then render the WorkInProgress component instead of the current div and placeholder sentence.

See the AlertsTemplate component if unsure how to do this and follow the same pattern.

[2022-10-06 19:30] EmmaDawsonDev opened #96 "Import WIP to charts template"
Please import the WorkInProgress component into the ChartsTemplate found inside components/ContentTemplates folder.

Then render the WorkInProgress component instead of the current div and placeholder sentence.

See the AlertsTemplate component if unsure how to do this and follow the same pattern.

[2022-10-06 19:32] EmmaDawsonDev opened #97 "Import WIP into breadcrumbs template"
Please import the WorkInProgress component into the BreadcrumbsTemplate found inside components/ContentTemplates folder.

Then render the WorkInProgress component instead of the current div and placeholder sentence.

See the AlertsTemplate component if unsure how to do this and follow the same pattern.

[2022-10-06 19:32] EmmaDawsonDev opened #98 "import WIP to buttons template"
Please import the WorkInProgress component into the ButtonsTemplate found inside components/ContentTemplates folder.

Then render the WorkInProgress component instead of the current div and placeholder sentence.

See the AlertsTemplate component if unsure how to do this and follow the same pattern.

[2022-10-06 19:33] EmmaDawsonDev opened #99 "import WIP to form template"
Please import the WorkInProgress component into the FormTemplate found inside components/ContentTemplates folder.

Then render the WorkInProgress component instead of the current div and placeholder sentence.

See the AlertsTemplate component if unsure how to do this and follow the same pattern.

[2022-10-06 19:34] EmmaDawsonDev opened #100 "import WIP to headings template"
Please import the WorkInProgress component into the HeadingsTemplate found inside components/ContentTemplates folder.

Then render the WorkInProgress component instead of the current div and placeholder sentence.

See the AlertsTemplate component if unsure how to do this and follow the same pattern.

[2022-10-06 19:34] EmmaDawsonDev opened #101 "import WIP to icons template"
Please import the WorkInProgress component into the IconsTemplate found inside components/ContentTemplates folder.

Then render the WorkInProgress component instead of the current div and placeholder sentence.

See the AlertsTemplate component if unsure how to do this and follow the same pattern.

[2022-10-06 19:35] EmmaDawsonDev opened #102 "Import WIP to Images template"
Please import the WorkInProgress component into the ImagesTemplate found inside components/ContentTemplates folder.

Then render the WorkInProgress component instead of the current div and placeholder sentence.

See the AlertsTemplate component if unsure how to do this and follow the same pattern.

[2022-10-06 19:36] EmmaDawsonDev opened #103 "Import WIP to links template"
Please import the WorkInProgress component into the LinksTemplate found inside components/ContentTemplates folder.

Then render the WorkInProgress component instead of the current div and placeholder sentence.

See the AlertsTemplate component if unsure how to do this and follow the same pattern.

[2022-10-06 19:37] EmmaDawsonDev opened #104 "Import WIP to lists template"
Please import the WorkInProgress component into the ListsTemplate found inside components/ContentTemplates folder.

Then render the WorkInProgress component instead of the current div and placeholder sentence.

See the AlertsTemplate component if unsure how to do this and follow the same pattern.

[2022-10-06 19:37] EmmaDawsonDev opened #105 "Import WIP to menus template"
Please import the WorkInProgress component into the MenusTemplate found inside components/ContentTemplates folder.

Then render the WorkInProgress component instead of the current div and placeholder sentence.

See the AlertsTemplate component if unsure how to do this and follow the same pattern.

[2022-10-06 19:38] EmmaDawsonDev opened #106 "Import WIP to modals template"
Please import the WorkInProgress component into the ModalsTemplate found inside components/ContentTemplates folder.

Then render the WorkInProgress component instead of the current div and placeholder sentence.

See the AlertsTemplate component if unsure how to do this and follow the same pattern.

[2022-10-06 19:38] EmmaDawsonDev opened #107 "Import WIP to navigation template"
Please import the WorkInProgress component into the NavigationTemplate found inside components/ContentTemplates folder.

Then render the WorkInProgress component instead of the current div and placeholder sentence.

See the AlertsTemplate component if unsure how to do this and follow the same pattern.

[2022-10-06 19:39] EmmaDawsonDev opened #108 "import WIP to pagination template"
Please import the WorkInProgress component into the PaginationTemplate found inside components/ContentTemplates folder.

Then render the WorkInProgress component instead of the current div and placeholder sentence.

See the AlertsTemplate component if unsure how to do this and follow the same pattern.

[2022-10-06 19:40] EmmaDawsonDev opened #109 "import WIP to tables template"
Please import the WorkInProgress component into the TablesTemplate found inside components/ContentTemplates folder.

Then render the WorkInProgress component instead of the current div and placeholder sentence.

See the AlertsTemplate component if unsure how to do this and follow the same pattern.

[2022-10-06 19:40] EmmaDawsonDev opened #110 "import WIP to video template"
Please import the WorkInProgress component into the VideoTemplate found inside components/ContentTemplates folder.

Then render the WorkInProgress component instead of the current div and placeholder sentence.

See the AlertsTemplate component if unsure how to do this and follow the same pattern.

[2022-10-06 19:43] EmmaDawsonDev opened #111 "Alphabetize data/pages.ts"
Apart from the home route which should come first in the array, place all other page routes in alphabetical order according to name. Currently b and c entries are the wrong way round.

[2022-10-06 19:43] EmmaDawsonDev commented on #93
Sure, go ahead :)

[2022-10-06 19:44] Angelfirenze01 opened #112 "Raising issue of small grammatical errors in the README markdown file for the following reasons..."
<details>
<summary>Details</summary>

I was going to post this as a pull request before I realized I should label it my first issue instead.

</details>

Fix small grammar errors in README markdown file.  Aware this likely won't count toward #hacktoberfest, but accessibility also includes the best spelling and grammar possible so as not to confuse new readers, especially new readers who don't spea

[2022-10-06 19:52] EmmaDawsonDev commented on #112
Sure, go ahead. Do let me know if anything in the readme is confusing.

[2022-10-06 20:10] utkarsh1311 commented on #106
I would like to work on this.

[2022-10-06 20:57] rafaeldias97 commented on #98
I would like to work on this.

[2022-10-06 21:00] Huluvu424242 opened #115 "extend .gitignore file for yarn and idea"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when i see a lot of files which are IDE or BUILD files locally but not ignored for check in.

**Describe the solution you'd like**
Add .yarn and .idea to the .ignore file pattern

**Describe alternatives you've considered**
I must manually mark to ignore during the check in progress

**Additional context**
![i

[2022-10-07 04:55] ctoffanin commented on #92
Sure, go ahead :)

[2022-10-07 04:57] ctoffanin commented on #98
Sure, go ahead :)

[2022-10-07 05:10] #93 closed

[2022-10-07 05:44] EmmaDawsonDev commented on #109
Assigned to @huluvu424242

[2022-10-07 05:48] EmmaDawsonDev commented on #106
Sure!

[2022-10-07 05:51] Huluvu424242 commented on #109
Thanks for assigning

[2022-10-07 05:52] Huluvu424242 commented on #111
Please assign to me.

[2022-10-07 05:52] Huluvu424242 commented on #115
Please assign to me

[2022-10-07 05:53] AbbeyIT commented on #102
Hi @EmmaDawsonDev I want to try to work on this issue

[2022-10-07 06:15] EmmaDawsonDev commented on #102
Sure @AbbeyIT 😀

[2022-10-07 07:11] uddeshya-amit commented on #110
Is this issue still open ? I will like to work on it please assign it to me.

[2022-10-07 07:17] iamshivi26 commented on #108
I would like to work on this if this issue is still open.

[2022-10-07 07:28] EmmaDawsonDev commented on #110
Sure @uddeshya-amit

[2022-10-07 07:29] srishti2609 commented on #105
I would like to work on this. Please assign it to me.

[2022-10-07 07:33] ctoffanin commented on #108
Yes sure

[2022-10-07 07:33] EmmaDawsonDev commented on #105
Please go ahead 😊

[2022-10-07 07:52] #111 closed

[2022-10-07 07:54] #115 closed

[2022-10-07 07:54] #98 closed

[2022-10-07 07:55] #109 closed

[2022-10-07 13:14] #106 closed

[2022-10-07 13:47] yashisahu commented on #107
Please assign me this issue

[2022-10-07 13:48] ctoffanin commented on #107
Yes, sure, go ahead!

[2022-10-07 17:52] HondaChan14 commented on #99
Hello I could I be assigned this :)

[2022-10-07 17:53] ctoffanin commented on #99
Yes, sure, go ahead!

[2022-10-07 17:54] DavidRod1865 commented on #103
I'll like to work on this issue!

[2022-10-07 17:55] ctoffanin commented on #103
Yes, sure!

[2022-10-07 18:52] Rohan-Hazari commented on #104
Hello can I try this issue?

[2022-10-07 18:54] ctoffanin commented on #104
Yes, sure!

[2022-10-07 19:29] ShubhraSuman opened #122 "Adding actions on push, pull request"
**Is your feature request related to a problem? Please describe.**
It will be great if we can have GitHub actions whenever someone is pushing any code changes or raising a PR or automating build for every change.

**Describe the solution you'd like**
Implementation of workflows inside .GitHub will solve the purpose

[2022-10-07 19:30] #104 closed

[2022-10-07 19:30] ShubhraSuman commented on #122
Can you assign this to me so that I can work on this issue.

[2022-10-07 19:44] EmmaDawsonDev commented on #122
Can you be more specific about what kind of actions and what they will do?

[2022-10-07 20:05] ShubhraSuman commented on #122
I was thinking to Create trigger whenever there is a code change or pull request. We can link it to main branch.

[2022-10-08 03:15] EmmaDawsonDev commented on #122
What will the trigger do every time there is a code change/pull request?

[2022-10-08 03:22] ShubhraSuman commented on #122
These all jobs:
It will check if job status.

name: GitHub Actions Demo
run-name: ${{ github.actor }} is testing out GitHub Actions 🚀
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - run: echo "🎉 The job was automatically triggered by a ${{ github.event_name }} event."
      - run: echo "🐧 This job is now running on a ${{ runner.os }} server hosted by GitHub

[2022-10-08 03:33] #102 closed

[2022-10-08 03:37] #103 closed

[2022-10-08 03:41] #99 closed

[2022-10-08 06:08] Ashish-khanagwal commented on #101
Hello Emma,

Would love to work on this issue

Thank you

[2022-10-08 06:10] ctoffanin commented on #101
Yes, sure, go ahead!

[2022-10-08 06:10] Ashish-khanagwal commented on #101
Thank you for assigning it to me :)

[2022-10-08 06:29] #101 closed

[2022-10-08 08:11] EmmaDawsonDev commented on #122
I already have Gitpod installed which makes a workspace build  of every pull request so I don’t think this is needed too. Thanks for the suggestion though.

[2022-10-08 08:11] #122 closed

[2022-10-08 08:14] Saurav50 commented on #100
Hey Emma i want to work on this issue.
Thank You

[2022-10-08 08:16] ctoffanin commented on #100
Yes, sure!

[2022-10-08 08:20] Heismanish commented on #97
Hey @EmmaDawsonDev, I would like to work on this issue.

[2022-10-08 08:21] ctoffanin commented on #97
Hey, yes, go ahead!

[2022-10-08 08:40] Heismanish commented on #97
Hey @ctoffanin, made a PR for this issue.

[2022-10-08 08:58] #100 closed

[2022-10-08 09:03] #97 closed

[2022-10-08 11:18] PeroHub commented on #96
@EmmaDawsonDev please assign me this issue

[2022-10-08 11:19] ctoffanin commented on #96
Yes, sure!

[2022-10-08 11:19] PeroHub commented on #96
@EmmaDawsonDev please assign me this issue

[2022-10-08 11:21] ctoffanin commented on #96
It's assigned to you.

[2022-10-08 11:23] PeroHub commented on #96
Oh thank you

[2022-10-08 11:24] PeroHub commented on #96
Oh thank you

[2022-10-08 13:38] EmmaDawsonDev opened #130 "Update Pull Request Template"
The pull request template in the .github folder has a checklist with 3 items. Add a fourth to the end of the list:

```- [ ] I have checked my code with an automatic accessibility tool such as Axe Dev Tools or Wave and it shows no errors```

[2022-10-08 13:40] jyotika6221 commented on #130
Please assign me this issue and describe in brief what should be the 4th item?

[2022-10-08 13:40] Manujdixit commented on #130
@EmmaDawsonDev, assign this to me.

[2022-10-08 13:45] Manujdixit commented on #130
@EmmaDawsonDev check the PR sent.

[2022-10-08 13:51] EmmaDawsonDev opened #132 "Update footer colors"
In `footer.module.css` the background color on line 2 should be changed as follows:

Current: `background-color: black;`

Change: `background-color: var(--dark);`

In `footer.module.css` the background color on line 34 should be changed as follows:

Current: `color: #00b4d8;`

Change: `color: var(--primary)`

[2022-10-08 13:52] Manujdixit commented on #132
Hey @EmmaDawsonDev assign me this issue.

[2022-10-08 13:53] EmmaDawsonDev commented on #130
the fourth item is this: `- [ ] I have checked my code with an automatic accessibility tool such as Axe Dev Tools or Wave and it shows no error`

[2022-10-08 13:58] jyotika6221 commented on #132
Please assign me with this issue, this will be my first pr as i m a beginner i can start my journey with this. Thank you.

[2022-10-08 14:00] ShubhamShakyawal commented on #132
@EmmaDawsonDev Please assign me. I would like to work on this

[2022-10-08 14:01] EmmaDawsonDev opened #134 "Update --dark variable color in global css"
In `globals.css` change row 9 and row 20

Current: `--dark: #000;`

Change: `--dark: #1c1c1c;`

[2022-10-08 14:02] EmmaDawsonDev commented on #132
Ah @Manujdixit got this one first.

[2022-10-08 14:02] EmmaDawsonDev commented on #130
@jyotika6221 assigned

[2022-10-08 14:02] ShubhamShakyawal commented on #134
@EmmaDawsonDev Please assign me. I would to work on this

[2022-10-08 14:02] jyotika6221 commented on #130
thank you.

[2022-10-08 14:03] Manujdixit commented on #132
Thanks @EmmaDawsonDev

[2022-10-08 14:04] mnkyjs commented on #134
Hey @EmmaDawsonDev it would be a pleasure to do this 😊

[2022-10-08 14:06] EmmaDawsonDev commented on #134
@ShubhamShakyawal you are assigned :)

[2022-10-08 14:10] ShubhamShakyawal commented on #134
@EmmaDawsonDev Successfully made changes and created Pull Request
https://github.com/AccessibleForAll/AccessibleWebDev/pull/135

[2022-10-08 14:22] #134 closed

[2022-10-08 14:38] #132 closed

[2022-10-08 14:44] EmmaDawsonDev opened #139 "Add About page"
In the pages folder add an about.tsx page.

Include a head and a layout (see index.tsx for guidance) As there is no contents currently the Work in progress component can be imported and used as a placeholder.

The title of the page should be About - Accessible Web Dev
headerTitle should be About Us
activeNavLink can be an empty string for now (I don't want this page to be part of the main navigati

[2022-10-08 14:45] jyotika6221 commented on #130
Im done with the alloted task. Could you first accept my first pull request?

[2022-10-08 14:49] jyotika6221 commented on #132
hi emma , are there any more issues, i would like to contribute.

[2022-10-08 14:49] sculley commented on #139
Howdy, I would like to work on this issue. Can you assign it to me please?

[2022-10-08 14:49] jyotika6221 commented on #139
Please assign me this issue.

[2022-10-08 14:50] jyotika6221 commented on #92
Hey if the issue is not fixed yet, i would like to contribute.

[2022-10-08 14:52] ctoffanin commented on #139
@sculley was first.

[2022-10-08 14:54] jyotika6221 commented on #139
ok, are there any more issues?

[2022-10-08 14:55] jyotika6221 commented on #94
hey, if the issue is still open, i can fix it. please assign it to me.

[2022-10-08 14:56] EmmaDawsonDev commented on #94
Sure, go ahead @jyotika6221

[2022-10-08 14:58] jyotika6221 commented on #94
ok.

[2022-10-08 14:59] EmmaDawsonDev commented on #139
I'm sure there will be later :)

[2022-10-08 15:00] EmmaDawsonDev commented on #92
Please give @petercr time to complete the task.

[2022-10-08 15:03] jyotika6221 commented on #92
ok sure.

[2022-10-08 15:13] petercr commented on #92
Thanks I'll push up the PR tonight after work.  😁

[2022-10-08 15:35] jyotika6221 commented on #139
ok thank you, shall wait.

On Sat, 8 Oct 2022 at 20:29, Emma Dawson ***@***.***> wrote:

[2022-10-08 19:32] stevenovak123 commented on #95
Hey, Could I work on this?

[2022-10-08 19:34] EmmaDawsonDev commented on #95
Sure! Go ahead :)

[2022-10-09 08:30] #130 closed

[2022-10-09 13:16] ctoffanin opened #145 "Husky's pre-commit file is not executable"
**Describe the bug**
Apparently, the `pre-commit` Husky file is not executable. Therefore formatting and lint are not applied against edited files before committing.

[2022-10-09 14:13] #145 closed

[2022-10-09 14:14] #139 closed

[2022-10-09 14:25] EmmaDawsonDev opened #147 "Update link in footer"
In the footer component, the link to the about page on line 43 is missing.

Current:
[code]

Update the href to be /about:
[code]

[2022-10-09 14:27] 3t8 commented on #147
Can I work on this?

[2022-10-09 14:27] EmmaDawsonDev opened #148 "update casing on name of footer.module.css"
1. Rename `footer.module.css` to `Footer.module.css`
2. Update the import on line 3 in Footer.tsx to `import styles from "./Footer.module.css"`

[2022-10-09 14:27] EmmaDawsonDev commented on #147
Sure!

[2022-10-09 14:28] vavy06 commented on #148
Hi! Could you please assign the task to me?

[2022-10-09 14:30] Devesh-coder commented on #148
Hey @EmmaDawsonDev I would love to contribute to this issue!

[2022-10-09 14:35] EmmaDawsonDev commented on #148
@vavy06 got this one :)

[2022-10-09 15:06] #147 closed

[2022-10-09 15:07] #148 closed

[2022-10-09 18:20] #110 closed

[2022-10-09 19:08] jyotika6221 commented on #94
Can you please elaborate how to work on this issue? I'm facing difficulty.

[2022-10-09 19:56] EmmaDawsonDev commented on #94
Sure. How far have you gotten?

[2022-10-09 20:41] jyotika6221 commented on #94
I forked and cloned the repository , went through the AlertTemplates component to see how is it done and saw the code.
But kindly tell me which file do i need to add this code to? Or if something else needs to be done please explain.
Thank you.

[2022-10-09 21:06] EmmaDawsonDev commented on #94
If you look in the folder Components/ContentTemplates you will find a file called AudioTemplate.

It currently looks like this
[code]

Update it so it looks like this instead:
[code]

[2022-10-09 21:31] jyotika6221 commented on #94
Thank you, i have requested for the pr.

[2022-10-10 04:58] #95 closed

[2022-10-10 05:00] #94 closed

[2022-10-10 11:02] PeroHub opened #155 "WIP not imported in other components"
Hi, so I look through other template components and I noticed that WIP is not imported in some. I found menu, navigation and pagination component.  I would appreciate being assigned this task if you consider it a task to carry out. Thanks

[2022-10-10 11:05] EmmaDawsonDev commented on #155
Hi @PeroHub these tasks are already assigned to others

[2022-10-10 11:05] #155 closed

[2022-10-10 11:41] #96 closed

[2022-10-10 14:58] #108 closed

[2022-10-10 17:25] EmmaDawsonDev opened #157 "Update pull request template"
The pull request template currently has the following headings:

[code]

Update to
[code]

[2022-10-10 17:28] FaithKovi commented on #157
Hi @EmmaDawsonDev I want to work on this issue
Please assign

[2022-10-10 17:31] EmmaDawsonDev commented on #157
Sure! It's in the .github folder called PULL_REQUEST_TEMPLATE.md

[2022-10-10 17:45] FaithKovi commented on #157
Hello, @EmmaDawsonDev I have completed this task and created a pull request.

[2022-10-10 17:57] #157 closed

[2022-10-12 20:00] Huluvu424242 opened #159 "Add an description for the table section"
**Is your feature request related to a problem? Please describe.**
The table area has no content.

**Describe the solution you'd like**
Add example code snippets and describe the rules. You should take the content from this page:
https://www.w3.org/WAI/tutorials/tables/caption-summary/

**Describe alternatives you've considered**
There are many alternative pages at the internet for a11y. You can u

[2022-10-12 20:10] EmmaDawsonDev commented on #159
Hi @Huluvu424242 none of the sections currently have any content but adding content is the next stage of the project. We will start by adding one page at a time so the tables page may take a while. However, we will not be copying anything directly from any other websites. Thanks for the link though, I’m sure we can add it to the list of references if we find it useful.

[2022-10-12 22:15] Huluvu424242 commented on #159
My original idea was not to copy but then i found this site and i remember the facts of my personal experience:

1. It is very difficult to write an general tutorial to realize a11y. Most cases are depends of domain. 2 people has most 3 solutions ;)
2. The source of content was important for me, because it is the world wide standard organization for this - i think so.
3. The rules of copyright at

[2022-10-13 07:44] ctoffanin commented on #112
Hey @Angelfirenze01, how is it going with the issue? Do you need any help?

[2022-10-13 12:35] LucasWongC opened #160 "Theme change"
I am not sure what Device Settings is for in theme change on the right top.
I think something like toggle button is enough for changing theme.

[2022-10-13 14:51] ctoffanin commented on #160
Device Settings makes sense for users that set to auto the light/dark theme on their devices.
The theme then goes dark automatically at sunset and light from the sunrise.
In this way, the website theme will also adjust based on that setting.

[2022-10-14 08:21] ctoffanin commented on #107
Hey @yashisahu, how is it going with the issue? Do you need any help?

[2022-10-14 08:22] ctoffanin commented on #105
Hey @srishti2609, how is it going with the issue? Do you need any help?

[2022-10-14 16:27] EmmaDawsonDev commented on #160
Thanks for raising the issue @LucasWongC As Cristian explained, it's there to follow system settings but light and dark modes will override any system settings in case you don't like the color modes provided. However, if you don't think it's clear what it does I'd be interested to know if you have a suggestion for a clearer label.

[2022-10-14 16:31] EmmaDawsonDev commented on #159
Ah, thanks so much for explaining!

The hacktoberfest contributions are helping me to get the website template in place but not to worry, I'm planning on writing a lot of the content myself and any contributions will be checked and verified for accuracy and understanding before being merged. Spreading wrong information is something I definitely want to avoid!

[2022-10-15 01:21] LucasWongC commented on #160
Thanks for your reply.
And I'd like to join this community.

[2022-10-15 06:47] YuriDevAT commented on #159
Hey @Huluvu424242.

Vielen Dank für dein Kommentar. Wir verstehen deine Bedenken sehr gut, kann dir aber versichern, dass Emma, und der Rest des Teams großen Wert auf Richtigkeit und Genauigkeit legen, und jeder PR genauestens geprüft wird. Wenn du weitere Fagen haben solltest, und diese lieber auf Deutsch kommunizierst, kannst du mir gerne taggen 🙂

[2022-10-15 07:27] ctoffanin commented on #159
Thank you @YuriDevAT!

[2022-10-15 09:51] EmmaDawsonDev commented on #159
Thanks so much Julia!

[2022-10-15 16:38] EmmaDawsonDev commented on #112
I’ll close this for now due to no activity but please feel free to open a new issue if you have time to come back to this later

[2022-10-15 16:38] #112 closed

[2022-10-15 19:01] jyotika6221 commented on #107
Hey, if there are no leads, can this issue be assigned to me?

[2022-10-15 19:02] jyotika6221 commented on #105
Hey, if there are no leads, can this issue be assigned to me?

[2022-10-15 20:27] EmmaDawsonDev commented on #107
Let’s give @yashisahu  a couple more days to answer then you can take over if there’s no response

[2022-10-15 20:29] jyotika6221 commented on #107
ok sure.

[2022-10-16 14:01] EmmaDawsonDev opened #163 "Add WorkInProgress story"
The WorkInProgress component already exists but there's no story for it in storybook.

In the `stories` folder add a file named `WorkInProgress.stories.tsx`

Using the `Header.stories.tsx` file as a template, adapt the contents of that file for the WorkInProgress component.

The WorkInProgress component takes no props.

Use the command `yarn storybook` to run the story on localhost and check that

[2022-10-16 14:06] EmmaDawsonDev opened #164 "Add skiplink story"
The SkipLink component already exists but there's no story for it in storybook.

In the `stories` folder add a file named `SkipLink.stories.tsx`

Using the `Header.stories.tsx` file as a template, adapt the contents of that file for the SkipLink component.

The SkipLink component takes no props.

Use the command `yarn storybook` to run the story on localhost and check that component is visible in

[2022-10-16 14:09] EmmaDawsonDev opened #165 "Add Footer story"
The Footer component already exists but there's no story for it in storybook.

In the `stories` folder add a file named `Footer.stories.tsx`

Using the `Header.stories.tsx` file as a template, adapt the contents of that file for the Footer component.

The Footer component takes no props.

Use the command `yarn storybook` to run the story on localhost and check that component is visible in storyboo

[2022-10-16 14:11] EmmaDawsonDev opened #166 "Add NavPrimary story"
The NavPrimary component already exists but there's no story for it in storybook.

In the `stories` folder add a file named `NavPrimary.stories.tsx`

Using the `Header.stories.tsx` file as a template, adapt the contents of that file for the NavPrimary component.

The NavPrimary component takes activeNavLink (a string) as props. It can be set as "home" in the story args.

Use the command `yarn stor

[2022-10-16 14:15] EmmaDawsonDev opened #167 "Add NavPrimaryMobile story"
The NavPrimaryMobile component already exists but there's no story for it in storybook.

In the stories folder add a file named NavPrimaryMobile.stories.tsx

Using the Header.stories.tsx file as a template, adapt the contents of that file for the NavPrimaryMobile component.

The NavPrimaryMobile component takes activeNavLink (a string) and a handleClick (function) as props. activeNavLink can be se

[2022-10-16 14:18] EmmaDawsonDev opened #168 "Add NavItem story"
The NavItem component already exists but there's no story for it in storybook.

In the stories folder add a file named NavItem.stories.tsx

Using the Header.stories.tsx file as a template, adapt the contents of that file for the NavItem component.

The NavItem component takes the following props:
[code]

Use the command yarn storybook to run the story on localhost and check that component is visib

[2022-10-16 14:51] Huluvu424242 commented on #168
Hello, please assign to me.

Do you have an example for the handleNavClick function?

[2022-10-16 14:56] EmmaDawsonDev commented on #168
Sure! The handleNavClick function looks like this:

[code]

and is sent through props from a parent component

[2022-10-16 14:57] EmmaDawsonDev commented on #168
Although it is not required and in this case of only rendering the nav item it probably doesn't make sense to include it.

[2022-10-16 15:53] Huluvu424242 commented on #168
This PR is not valid at now. At the moment i need an hint to solve the problem.

[2022-10-16 16:10] #168 closed

[2022-10-16 18:04] EmmaDawsonDev opened #170 "Create MaintainerCard component (and story)"
If you don't feel comfortable with using storybook to create the component feel free to ignore the storybook steps and they can be added later.

In the `components` folder create a folder called `MaintainerCard`. Inside the folder create a component called `MaintainerCard.tsx` and a CSS file called `MaintainerCard.module.css`

In the `stories` folder create a file called `MaintainerCard.stories.ts

[2022-10-16 18:25] EmmaDawsonDev opened #171 "Add a11y-addon to storybook"
Follow the instructions at [Storybook - set up ally addon](https://storybook.js.org/docs/react/writing-tests/accessibility-testing#accessibility-checks-with-a11y-addon) in order to install and configure the accessibility add on. (Only this section needs to be followed, no need to add anything in the configure section)

Please use yarn to install the new package and follow the Typescript instructio

[2022-10-16 18:36] Gammarkin commented on #170
I would like to contribute. Can you assign this issue to me?

[2022-10-16 18:40] YuriDevAT commented on #171
Hey @EmmaDawsonDev. I would love to work on this issue 🙂

[2022-10-16 18:47] ctoffanin commented on #171
Hey @YuriDevAT, sure! Please go ahead! 😄

[2022-10-16 18:48] ctoffanin commented on #170
Hi, yes, sure, go ahead!

[2022-10-16 18:48] YuriDevAT commented on #171
Perfect, thanks.

[2022-10-17 05:10] murtuzaalisurti commented on #165
this seems interesting as I have never used storybook, can I work on this?

[2022-10-17 05:15] ctoffanin commented on #165
Hi, sure. Go ahead. Let us know if you need any help.

[2022-10-17 09:01] hariscs commented on #167
Hey @EmmaDawsonDev assign this to me, I wanna work on it

[2022-10-17 09:02] hariscs commented on #164
Kindly Assign this to me as well

[2022-10-17 09:03] ctoffanin commented on #167
Hi, sure. Go ahead. Let us know if you need any help.

[2022-10-17 09:06] hariscs commented on #164
@ctoffanin kindly assign this to me

[2022-10-17 09:40] ctoffanin commented on #164
Yes, sure, go ahead.

[2022-10-17 09:55] hariscs commented on #163
assign this to me

[2022-10-17 10:11] EmmaDawsonDev commented on #163
Hi @hariscs As it’s hacktoberfest we want many different contributors to have a chance at taking part. Therefore we’re limiting issues to max two at one time. I hope you understand. Please finish the two already assigned issues and then we can assign more.

[2022-10-17 10:18] hariscs commented on #163
I'll finish the assigned one soon

[2022-10-17 12:34] MarkusEicher commented on #166
Hi Emma. May I kindly ask you to assign this to me? Thank you!

[2022-10-17 12:39] MarkusEicher commented on #163
Hi dear maintainers. I already applied for another issue. If you don't mind, I would be interested to have this one assigned to me too. Thanks!

[2022-10-17 13:12] ctoffanin commented on #166
Yes, go ahead!

[2022-10-17 13:13] ctoffanin commented on #163
Hi @MarkusEicher, yes go ahead.

[2022-10-18 05:12] ctoffanin commented on #107
@jyotika6221 are you still up for this?

[2022-10-18 05:16] ctoffanin commented on #160
@LucasWongC to join the community, you only need to open an issue here: https://github.com/AccessibleForAll/Support

[2022-10-18 07:08] MarkusEicher commented on #163
Hi there. Just a ping that I'm still working on the issue. First try was a fail. The story didn't appear as expected.

[2022-10-18 07:08] MarkusEicher commented on #166
Hi there. Just a ping that I'm still working on the issue. First try was a fail. The story didn't appear as expected.

[2022-10-18 07:11] ctoffanin commented on #166
No worries, take your time. Let us know if you need any help!

[2022-10-18 07:12] ctoffanin commented on #163
No worries, take your time. Let us know if you need any help!

[2022-10-18 07:17] MarkusEicher commented on #166
Thanks a lot for the support. Appreciate it. At this point I need to dig into it again. Will do that later this day. If it still won't work, I will be glad to reach out to you or have the issue reassigned to another contributor.

[2022-10-18 07:18] MarkusEicher commented on #163
Thanks a lot for the support. Appreciate it. At this point I need to dig into it again. Will do that later this day. If it still won't work, I will be glad to reach out to you or have the issue reassigned to another contributor.

[2022-10-18 16:09] #159 closed

[2022-10-18 16:09] #160 closed

[2022-10-18 16:48] murtuzaalisurti opened #175 "incorrect text formatting"
**Describe the bug**
Missing space in footer text

**Screenshots**
![chrome_rIHFcQoxLc](https://user-images.githubusercontent.com/68743212/196492986-c93ffff8-97b9-40df-b435-25361c2d1190.jpg)

[2022-10-18 16:49] #165 closed

[2022-10-18 16:58] EmmaDawsonDev commented on #175
Thanks for noticing! Would you like to be assigned?

[2022-10-18 17:08] murtuzaalisurti commented on #175
yeah why not

[2022-10-18 17:20] murtuzaalisurti commented on #175
made a PR

[2022-10-18 19:24] digambar-t7 opened #178 "[Fix] Aligning the footer's content"
**Describe the bug**
I think the content placed in the footer space is misaligned.Was it made intentionally?

**To Reproduce**
Steps to reproduce the behavior:
1. Come to the bottom of the home page
2. Observe the content in the footer space(bg black)

**Expected behavior**
The content should have been properly aligned around the vertical axis unless it wasn't meant to be the way it is now.

**Scr

[2022-10-18 19:59] EmmaDawsonDev commented on #178
Yes, it is misaligned. The edges should be aligned with the hr element above it. Is it something you'd like to fix?

[2022-10-18 20:04] EmmaDawsonDev commented on #163
Hi Markus! Take as long as you need on your issues, there's no pressure. Open source is as much about learning new things as it is making pull requests. And if you get stuck with anything just let us know and one of us will help you out.

[2022-10-18 20:05] EmmaDawsonDev commented on #105
You can give it a go @jyotika6221

[2022-10-18 20:40] jyotika6221 commented on #107
Thanks for assigning, can i get a brief about the task?

[2022-10-19 03:38] digambar-t7 commented on #178
Yes @EmmaDawsonDev I'd like to fix it

[2022-10-19 04:20] ctoffanin commented on #178
Go ahead @digambar-t7!

[2022-10-19 05:45] #175 closed

[2022-10-19 16:25] EmmaDawsonDev commented on #107
The brief is in the first message and it should be the same as the other issue you did last weekend. Any questions let us know.

[2022-10-19 16:26] #167 closed

[2022-10-19 16:28] Pradumnasaraf opened #179 "Dockerize the app"
**Is your feature request related to a problem? Please describe.**
Adding Docker support to the repo by adding `Dockerfile` and `compose` for the dev who works in a container environment.

[2022-10-19 17:22] hariscs commented on #179
quick question, @Pradumnasaraf what are the benefits of dockerizing this app?

[2022-10-19 19:48] #171 closed

[2022-10-20 04:22] Pradumnasaraf commented on #179
Many people do local development in containerized environments. So will be easy for them to contribute.

[2022-10-20 04:27] MarkusEicher commented on #163
Hello dear maintainers.

I have an issue with my gitignore file when following the steps in the CONTRIBUTING.md. After forking the repo and cloning it locally i added the upstream to the original repository and all went well. Now, after running yarn install there are two files listed as changed or untracked in Git. These are .yarnrc.yml which shows as untracked and yarn.lock which has changed.

On

[2022-10-20 11:28] ctoffanin commented on #163
Hi @MarkusEicher, you are running yarn version >= 2, right?

[2022-10-20 11:45] MarkusEicher commented on #163
Hi Cristian @ctoffanin

Yes. I'm running yarn version 3.2.3

[2022-10-20 19:04] EmmaDawsonDev commented on #163
I think the differences may be coming because the project is running yarn 1 and they introduced the yarnrc.yml with version 2. It's something I need to look into.

However, you are absolutely fine to create a branch and work on the feature with the files still there locally. Just when you do `git add ` be careful to only stage files that you've worked on (don't use `git add .` ). You can do this w

[2022-10-20 19:41] EmmaDawsonDev commented on #179
Thanks for the suggestion Pradumna. I'm not really sure of the benefit of this right now. I don't want to make it more complex than it needs to be.

[2022-10-21 06:21] MarkusEicher commented on #163
Good morning, Emma. Yes, that was what I expected to hear, and I will do exactly that. I was sure not to track yarnrc.yml but was not so sure about yarn.lock because this file is present in the upstream and has changed recently with PR181 after YuriDevAT added the a11y extension for Storybook. I understand now that the change in yarn.lock only is relevant, because this extends the functionality of

[2022-10-21 06:57] Olaleye-Blessing opened #182 "Dark mode flickering"
**Describe the bug**
A white background showed for some seconds after switching to dark mode and reloading the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [website](https://accessiblewebdev.netlify.app/)
2. Switch the theme to the dark mode
3. Reload the page
4. Notice the bug

**Expected behavior**
The white background shouldn't show at all. That is, the flickering shouldn't

[2022-10-21 08:35] Pradumnasaraf commented on #179
Thanks for reply Emma.

It doesn't make the App complex (Nothing need to change on itself, It's a separate `Dockerfile`) 😅, even it's make easy to contribute and testing.

Closing the issue.

[2022-10-21 08:35] #179 closed

[2022-10-21 17:21] EmmaDawsonDev commented on #182
Nicely spotted. My guess is that this has something to do with the server-side rendering of the page always in lightmode which causes a brief flash before the user's systems settings can kick in and change to dark mode on the client side.

[2022-10-21 18:03] digambar-t7 commented on #178
![Screenshot_2022-10-21_23_26_11](https://user-images.githubusercontent.com/92970968/197259868-e0bc17f9-b6ad-4ff8-9dae-f3c0a1f4eece.png)

Hey @EmmaDawsonDev,  were you suggesting this ?

[2022-10-21 18:27] EmmaDawsonDev commented on #178
Yes, that's exactly what I was thinking 👍

[2022-10-21 18:30] digambar-t7 commented on #178
Ok, then I'll raise a PR shortly.

[2022-10-22 04:32] #178 closed

[2022-10-22 08:04] Olaleye-Blessing commented on #182
Yeah, I'll like to work on it.

[2022-10-22 08:14] ctoffanin commented on #182
Yes, sure, go ahead.

[2022-10-22 19:34] #170 closed

[2022-10-23 08:21] Y0rubaCoproducer commented on #163
Happy Sunday Emma,

I'd like to help with this.

Please let me know. Tuesday is my code day this week in case that may be an issue.
Thank you.
Kemmy

[2022-10-23 08:23] Y0rubaCoproducer commented on #105
This looks like another good first issue for me!
Thanks
Kemmy

[2022-10-23 08:25] MarkusEicher commented on #163
Hi @Y0rubaCoproducer. Hello maintainers. May I suggest the following proceudure. I'm currently working on this. If I struggle or it is not finished by Tuesday, then assign it to @Y0rubaCoproducer. Please let me know, if that is OK for you. Have a great Sunday y'all.

[2022-10-23 08:29] Y0rubaCoproducer commented on #163
Hey Mark,
Absolutely. I am very new to this so I didn't grasp that this project is one person per issue. I'm really happy to help with anything so perhaps I'll read some papers/guides/instead of references and see if they can be improved in anyway.

Please take your time and good luck!! ✨
Kemmy

[2022-10-23 09:11] ctoffanin commented on #163
Hi @MarkusEicher, no worries. Feel free to tell us if/when you want the issue to be unassigned from you. We'll assign it to @Y0rubaCoproducer then.

[2022-10-23 10:16] hariscs commented on #166
hi @MarkusEicher, you still working on this? if you need any help leave the query here or if you want to unassign it, I would be happy to work on this.

[2022-10-23 10:36] EmmaDawsonDev commented on #166
@MarkusEicher please take all the time you need to work on your issues, they are non-critical so there is no rush. I see other people asking to be assigned but I don’t want you to feel pressured to give up an issue just because someone else asks for it.

[2022-10-23 10:43] MarkusEicher commented on #166
@EmmaDawsonDev Thank you, Emma. I really appreciate this! 💚 If I need help I will reach out and it will not take a lot longer. I have freed some time for it.

[2022-10-23 10:45] MarkusEicher commented on #163
Thanks, Christian! 💚 Appreciate your patience. Will be done soon.

[2022-10-23 10:46] EmmaDawsonDev commented on #163
@Y0rubaCoproducer Most often on open source projects each issue gets assigned to one person to avoid people doing unnecessary/duplicate work (unless people want to pair up on an issue).

I will try to look through the project either this evening or early this week and see if there are more issues that I can add.

[2022-10-23 10:55] hariscs commented on #166
hey @MarkusEicher, sorry if you felt pressured by my last comment. take your time and I'm going to share some resources with you where you can learn storybook and react typescript. and if you need any help leave your comment here, I would love to help you with this.
you can learn storybook from [here](https://www.youtube.com/watch?v=qSkHRVLcj6U&ab_channel=MariusEspejo)

[2022-10-23 11:00] MarkusEicher commented on #166
Thanks @hariscs. 👊 Didn't feel pressured at all. I appreciate your offer to support me. I'm just about to add my solution. Will be glad to reach out if I need help. Have a good day 🍀

[2022-10-25 07:10] MarkusEicher commented on #166
Hello community. I just started to finalize this issue. Just to let you know that it's still work in progress. Have a good day.

[2022-10-25 07:10] MarkusEicher commented on #163
Hello community. I just started to finalize this issue. Just to let you know that it's still work in progress. Have a good day.

[2022-10-26 04:37] #166 closed

[2022-10-26 04:52] ctoffanin commented on #107
Hi @jyotika6221, how is it going with the issue? Do you need any help?

[2022-10-26 04:53] ctoffanin commented on #105
Hi @jyotika6221, how is it going with the issue? Do you need any help?

[2022-10-26 06:23] hariscs opened #186 "PRs not accepted in hacktoberfest"
**Describe the bug**
hey, @ctoffanin @EmmaDawsonDev i created two PRs, and both of them got merged in this project but none of them are accepted in the hacktoberfest.

**Screenshots**
![image](https://user-images.githubusercontent.com/60646718/197949675-251db12c-b30e-4f94-bfe4-6443330753f5.png)

[2022-10-26 06:38] EmmaDawsonDev commented on #186
Try doing a hard refresh of the hacktoberfest page, it’s probably a caching issue

[2022-10-26 11:54] #186 closed

[2022-10-26 13:14] yashisahu commented on #107
Yes..

[2022-10-26 17:09] jyotika6221 commented on #107
Hey,I got busy with another issue which hasn't been completed yet, would you mind assigning it to someone else. Sorry for the delay.

[2022-10-26 17:54] ctoffanin commented on #107
No problem @jyotika6221. Thank you for your quick reply! @yashisahu are interested in this one?

[2022-10-27 19:14] EmmaDawsonDev opened #189 "Add maintainer cards to about page"
In `about.tsx` remove the WorkInProgress component and replace it with an h2 that says Current Maintainers.

Import the MaintainerCard into the file and remove the WorkInProgress import.

Directly beneath the h2 map over the maintainerData and pass each object into the maintainerCard component.

Verify that 2 cards show on the screen with names, descriptions and github links (images will be added

[2022-10-27 19:22] #163 closed

[2022-10-27 19:42] itzwow commented on #189
Hey can I work on this issue?

[2022-10-27 19:49] EmmaDawsonDev commented on #189
@itzwow sorry, this issue is already assigned to @sano2019.

[2022-10-27 20:05] sano2019 commented on #189
Thanks Emma. I’ll work on it tomorrow

Sent from Proton Mail for iOS

On Thu, Oct 27, 2022 at 21:14, Emma Dawson ***@***.***> wrote:

[2022-10-28 08:49] itzwow commented on #189
Alright No problem . : )

[2022-10-28 18:10] #182 closed

[2022-10-28 18:33] Huluvu424242 commented on #107
Hello @ctoffanin, i have opened an PR #191 to fixing this issue.
If you want, you can assign this issue to me or if other people (maybe @yashisahu) would like to work at this issue then assign to him - is no problem.

[2022-10-28 19:56] #189 closed

[2022-10-28 20:26] #107 closed

[2022-10-28 20:31] EmmaDawsonDev opened #192 "MaintainerCard component has wrong margin"
**Describe the bug**
In the file `MaintainerCard.module.css`  the margin on class `.maintainerContainer` is currently set at `4.5rem` all the way round. This should be changed to `4.5rem 0 0 0`

[2022-10-28 20:34] EmmaDawsonDev opened #193 "About page layout needs fixing on mobile"
In the file `about.module.css` add the following to the `.aboutRow` class:
[code]

Check that the maintainer cards then wrap into one column on mobile.

[2022-10-28 21:02] goobric commented on #193
hi Emma, can I please be assigned this issue?

[2022-10-28 21:06] EmmaDawsonDev commented on #193
Of course!

[2022-10-28 21:25] goobric commented on #192
hi Emma, can I please be assigned this issue?

[2022-10-29 00:14] thomasjvu commented on #105
Hello @EmmaDawsonDev and @ctoffanin

I would love to contribute to this project as I admire the mission. Can I please be assigned to this issue?

I already have a solution ready! I just need to be assigned before I submit a PR per your contributing guidelines.

[2022-10-29 04:03] aditya-rastogi23 commented on #192
hi @EmmaDawsonDev does this work?

[2022-10-29 05:34] EmmaDawsonDev commented on #105
Sure, go ahead

[2022-10-29 05:36] thomasjvu commented on #105
Thank you @EmmaDawsonDev!

I submitted the PR for review. I hope it's satisfactory.

[2022-10-29 05:41] EmmaDawsonDev commented on #192
Please wait to be assigned an issue as stated in the contributing guidelines before making a pull request in the future, otherwise your PR may be closed.

[2022-10-29 05:43] EmmaDawsonDev commented on #192
Now I see that @goobric actually asked to be assigned so they will get the chance first

[2022-10-29 05:44] aditya-rastogi23 commented on #192
I'm really sorry about it. Can this one still be merged? I'm relatively new to open source and am trying to dig deeper

[2022-10-29 09:36] #105 closed

[2022-10-29 12:10] goobric commented on #192
Hi Emma,
I created a new branch (MaintainCard) altered the margin value within the MaintainerCard section, and sent a Pull Request.
Thank you so much for giving me this opportunity to participate and practice.

[2022-10-29 12:11] #193 closed

[2022-10-29 12:11] #192 closed

[2022-10-29 12:13] goobric commented on #193
Hi Emma,
thank you so much for giving me the chance to practice -> forking, branching, updating, & sending a PR

[2022-10-29 12:17] EmmaDawsonDev commented on #193
You’re more than welcome! Thanks so much for contributing 😀

[2022-10-29 15:39] tinniaru3005 opened #200 "Add a scrollbar to the menu"
**Is your feature request related to a problem? Please describe.**
A scroll bar can be added

**Describe the solution you'd like**
Add a scrollbar here
![add scrollbar](https://user-images.githubusercontent.com/62856848/198840412-e02f9abd-09b0-4318-8d02-49c07c11d80f.png)

The scrollbar can be similar to:
![scrollbar](https://user-images.githubusercontent.com/62856848/198840441-cb1173f2-e4e5-4eb1-b

[2022-10-29 15:39] tinniaru3005 commented on #200
Can you please assign me the issue, I would like to work on it.

[2022-10-29 17:35] EmmaDawsonDev commented on #200
At the moment the sidebar probably looks weird as there's no content but eventually when content is added then there will be no need for a scrollbar.

[2022-10-29 17:35] #200 closed

[2022-11-20 08:02] ctoffanin opened #227 "Add a style guide to the contributing page"
**Is your feature request related to a problem? Please describe.**
Missing style guide for contribution.

**Describe the solution you'd like**
Add a style guide to the contributing page

[2022-11-26 14:44] EmmaDawsonDev opened #229 "Consistent Props importing"
Currently the props are being imported in two different ways:
Style 1:
[code]

and

Style 2:
[code]

Please go through all the components and change the ones using style 1 to use style 2 instead so it should look like this in every component:
[code]

[2022-11-26 16:01] EmmaDawsonDev opened #230 "Named exports"
We have decided that all components will use named exports. However, at the moment some are still using export default.

Please go through the components (not pages) and update each to use named exports.

Example:
[code]

Should become:
[code]

[2022-11-26 16:03] EmmaDawsonDev opened #231 "Remove import React from "react""
Go through the components and pages and remove the line
`import React from "react"`

If it's importing other things from react like useState or useEffect then it can remain.

[2022-11-26 16:07] EmmaDawsonDev opened #232 "All interfaces should start with capital I"
Please go through the files and find any interfaces that don't begin with a capital I.

Example:
[code]

Should be:
[code]

[2022-11-26 16:35] ctoffanin opened #234 "Images import in the content page is broken"
**Describe the bug**
The import of ImagesTemplate is not correct on the content page

[2022-11-26 16:45] #234 closed

[2022-11-26 17:13] ThePlugJumbo commented on #231
Hello, may I please be assigned to this issue?

[2022-11-26 17:33] #231 closed

[2022-11-26 17:40] ThePlugJumbo commented on #232
Can I please be assigned to this issue?

[2022-11-26 17:41] EmmaDawsonDev commented on #232
Sure :)

[2022-11-27 11:39] hariscs commented on #232
@EmmaDawsonDev assign this to me, looks like @ThePlugJumbo doesn't want to work on this.

[2022-11-27 11:40] hariscs commented on #230
i can help with this assign it to me.

[2022-11-27 11:41] EmmaDawsonDev commented on #232
Sure @hariscs

[2022-11-27 11:41] hariscs commented on #229
assign it to me

[2022-11-27 20:13] EmmaDawsonDev commented on #230
Go for it :)

[2022-11-27 20:14] EmmaDawsonDev commented on #229
Assigned. Let us know if you need any help with anything

[2022-11-28 17:20] #232 closed

[2022-11-28 19:33] #227 closed